<div class="overlay">
   <form>
      <div class="con">
      <header class="head-form">
         <img src="assets/logo_full_color.svg" style="width: 50%;">
      </header>
      <br>
      <div class="field-set">
        
          
            <input class="form-input" id="txt-input" type="text" placeholder="Usuario" required>
        
         <br>
        
         <input class="form-input" type="password" placeholder="Contraseña" id="pwd"  name="password" required>


        
         <br>
  
         <button class="log-in"> Ingresar </button>
      </div>
     
   </div>
   <div class="class-check">
      <label class="check"><input type="checkbox" id="cbox1" value="first_checkbox"> Desea manterse loggeado?</label><br>
   </div>
     
   </form>
   </div>