<footer>
    <div class="footer-class">
        <div>
            <h1 class="class-h1-sixth">Gracias por <strong class="class-color">completar el ejercicio</strong></h1>
            <h2 class="class-h2">Te invitamos a ver más información</h2>
        </div>
        <div class="class-div">
            <button class="class-button" onClick="window.open('https://www.wolox.com.ar/')">Conocer más</button>
        </div>
    </div>

    <div>
        <img src="assets/Ic_Wolox_Footer.svg" alt="wolox" class="wolox-logo">
    </div>

    
</footer>