<input type="text" id="myInput"  #box (keyup)="myFunction(box.value)" placeholder="Search for names..">

<div id="pattern" class="pattern">
  <ul class="list img-list">
    <li *ngFor="let item of tecnologies">
      <a  href="#" class="inner">
        <div class="li-img">
          <img src="{{item.logo}}" alt="Image Alt Text" />
        </div>
        <div class="li-text">
          <h4 class="li-head">{{item.tech}}</h4>
          <p class="li-sub">{{item.type}}</p>
        </div>
      </a>
    </li>
    </ul>
  </div>