<main>
    <div class="first-line">
        <div class="second-div">
            <div class="class-div">
                <h1>Bienvenido a tu</h1>
                <h1><strong class="class-strong">Entrevista Técnica</strong> en</h1>
                <h1 class="class-h1-wolox">Wolox</h1>
              </div>
            
            <img src="assets/Img Hero/Ic_ilustra_Hero.png" alt="hero" class="hero">
        </div>
    </div>


    <div class="second-line">
        <div class="second-div">
            <div class="class-p">
                <p>Estamos buscando para incorporar gente increíble para estas tecnologías:</p>
            </div>

            <img src="assets/Ic_Tecnologys.svg" alt="Ic-tech" class="tech">            
        </div>
    </div>


    <div class="third-line">
        <div class="second-div">
            <div class="programmer">
                <img src="assets/img_woloxer.png" alt="woloxer" width="100%">
                <div class="centered">
                    <h1 class="text">350 + <strong class="woloxers">Woloxers</strong></h1>
                </div>
                <div class="wolox">
                    <img src="assets/twitter-logo-white-png.png" alt="twitter" class="twitter-logo">
                    <h2 class="twitter-wolox">@Wolox</h2>
                </div>
                <div class="button-follow">
                    <button class="class-button" onClick="window.open('https://twitter.com/Wolox')">Siguenos</button>
                </div>

              </div>
            <div class="gray-background">
                <div class="gray-text">
                    <h1>Trabajamos para</h1>
                    <h1><strong class="convertir">convertir</strong><strong class="ideas"> ideas</strong> en</h1>
                    <h1>productos.</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="fourth-line">
        <div class="title">
            <h1 style="font-size: 30px;">Entre los beneficios que ofrecemos se encuentran<strong class="smiley-face"> ;)</strong></h1>
        </div>
        <div class="row">
            <div class="column">
              <img src="assets/Ic_Hour.svg" alt="hour">
              <h2>Flexibilidad
                  <br> Horaria</h2>
            </div>
            <div class="column">
                <img src="assets/Ic_HomeOffice.svg" alt="office" >
                <h2>Home Office</h2>
            </div>
            <div class="column">
                <img src="assets/Ic_Workshops.svg" alt="work" >
                <h2>Capacitaciones
                    <br> y workshops</h2>
            </div>
            <div class="column">
                <img src="assets/Ic_DrinkSnacks.svg" alt="snacks">
                <h2>Snacks, frutas
                    <br> y bebidas gratis</h2>
              </div>
              <div class="column">
                  <img src="assets/Ic_laptop.svg" alt="laptop">
                  <h2>Semana
                    <br> Remota</h2>
              </div>
              <div class="column">
                  <img src="assets/Ic_brain.svg" alt="work">
                  <h2>Trabajar
                    <br> en últimas
                <br>teconologías</h2>
              </div>
          </div>

          <hr class="class-hr">
    </div>


    <div class="fifth-line">
        <div class="second-div">
            <div class="class-div2">
                <h1 class="h1-class">Requerimientos</h1>
              </div>
            
            <div class="requierments">
                    <ul class="no_bullet">
                        <li class="bullet-1">Estudiantes avanzados o recibidos de carreras del rubro informático, sistemas o electrónicos</li>
                        <li class="bullet-2">Inglés intermedio/avanzado</li>
                        <li class="bullet-3">Conocimiento en metodologías ágiles (deseable)</li>
                    </ul>
            </div>
        </div>
    </div>


    
</main>