<header>
    <div class="container">
      <img src="assets/logo_full_color.svg" alt="logo" class="logo">

      <nav>
        <ul>
          <li><a href="/home">Inicio</a></li>
          <li><a href="/technologies">Tecnologías</a></li>
          <li><a href="#">Beneficios</a></li>
          <li><a href="#">Requerimentos</a></li>
          <li *ngIf="!user"><button class="class-button" routerLink="/login">Login</button></li>
          <li *ngIf="user"><a>{{user.email}}</a></li>
          <li *ngIf="user"><button class="class-button" (click)="logout()">Cerrar sesión</button></li>
        </ul>
      </nav>
    </div>
  </header>