@import '../../styles.scss';
@import "../../modules/fonts";


.container {
  width: 80%;
  margin: 0 auto;
  display: block;
}

body {
  margin: 0;
  background: #222;
  
}


header::after {
  content: '';
  display: table;
  clear: both;
}

.class-button {
  height: 40px;
  width: 350%;
  border-radius: 25px;
  border-color: $primary;
  color: $primary;
  background-color: transparent;
  border-width: 1px;
}

.logo {
  float: left;
  width: 13%;
  padding-top: 2.25%;
}

nav {
  float: right;
  padding-right: 8%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  font-family: "Montserrat-Bold" !important;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
  
}

nav a {
  color: #444;
  text-decoration: none;
  
}

nav a:hover {
  color: $primary;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: $primary;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
