/* You can add global styles to this file, and also import other style files */


// Fonts
//------------------------------------------------------------------------------------------------------------
@import '../src/modules/_fonts.scss';
// primary font
$primary_font: 'FiraSans-Regular';
$secondary_font: 'Montserrat-Regular';



$thin: 100;
$light:300;
$regular:400;
$medium:500;
$bold:700;
$black:900;


$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;



// -----------------------------------------------------------------------------------------------------------------


@media (max-width: 768px) {
    app-header, 
    app-nav, 
    app-main, 
    app-aside, 
    app-footer {
      flex: unset;
      width: 100%;
    }
  }
* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      padding: 0;
      text-align: center;
      font-family: $primary_font;
      font-size: $primary-fs;
      font-weight: $regular;
  }
  
  .container {
    display:flex;
    flex-flow:row wrap;
  }
  
  app-header, 
  app-nav, 
  app-main, 
  app-aside, 
  app-footer {
    padding: 20px;
    margin:5px;
  }
  
  app-header {
    order:1;
    height:100px;
    flex:0 1 100%;
    background: transparent;
  }
  
  app-nav {
    order:2;
    flex: 0 1 200px;
    background: rgb(176, 165, 199);
  }
  
  app-main,
  app-privacy-policy {
    order:3;
    flex: 1;
    min-height:500px;
    background: rgb(211, 216, 215);
  }
  
  app-aside {
    order:4;
    flex:0 1 200px;
    background: rgb(149, 180, 216);
  }
  
  app-footer {
    order:5;
    height:100px;
    flex:0 1 100%;
    background: rgb(119, 120, 121);
  }

    